page-register {
  .input2{
    width: 100%;
    border-radius: 5px;
    height: 30px;
    margin-bottom: 15px;
    border: 0px;
  }
  .input1{
    width: 48%;
    border-radius: 5px;
    height: 30px;
    margin-bottom: 15px;
    border: 0px;
  }
}
